body {
    font-family: cute girl;
    background-color: lightpink;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 50%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

